PORT=8080
ENV=development
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
DYNAMO_TABLE=linkvault
# For local dev, point SDK to DynamoDB local:
DYNAMO_ENDPOINT=http://dynamodb-local:8000
JWT_SECRET=change-me-in-prod