# Binaries
linkvault
*.exe
*.dll
*.so
*.dylib

# Go
vendor/
*.test
*.out
go.work

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (for Day 3)
node_modules/
dist/
build/